.hidden {
  display: none;
}

/* LOCKSCREEN */

.lockscreen {
  position: absolute;
  inset: 0;
  background: radial-gradient(circle at top, #0a1a1f, #05080f);
  color: #0ff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: monospace;
  z-index: 5;
}

.lock-clock {
  font-size: 56px;
  margin-bottom: 25px;
}

.lockscreen input {
  width: 180px;
  background: transparent;
  border: 1px solid #0ff;
  color: #0ff;
  padding: 10px;
  text-align: center;
  margin-bottom: 12px;
}

.lockscreen button {
  background: #0ff;
  border: none;
  padding: 8px 24px;
  font-weight: bold;
  cursor: pointer;
}

.lock-feedback {
  margin-top: 10px;
  font-size: 12px;
  color: #ff3b3b;
}

.system {
  position: absolute;
  inset: 0;
  background: #05080f;
}


/* PLAYER NAME */

.player-name {
  margin-top: 10px;
  font-size: 16px;
  opacity: 0.8;
}

.phone {
  width: 360px;
  height: 720px;
  background: #05080f;
  border-radius: 30px;
  box-shadow: 0 0 30px rgba(0,255,255,0.25);
  overflow: hidden;
  color: #0ff;
  position: relative; /* 🔴 ESSENCIAL */
}
